.custom-form {

    &__group:not(:last-child) {
        margin-bottom: 3rem;
    }

    &__input {
        background: rgba($color-white, .8);
        display: block;
        width: 100%;
        font-family: inherit;
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border: none;
        outline: none;
        border-bottom: 3px solid transparent;
        box-shadow: 0 1rem 2rem rgba(#000, .1);
        transition: all .3s;
        line-height: 1.2rem;

        &:focus {
            border-bottom: 3px solid $color-green-primary;
        }
        
        &:focus:invalid{
            border-bottom: 3px solid $color-orange-dark;
        }        
    }

    &__label {
        font-weight: 700;
        font-size: 1.5rem;
        margin: .5rem 0;
        position: relative;
        transition: all .4s;
        display: block;
        transform: translateX(2rem);
    }

    &__input:placeholder-shown + &__label--animated {
        transform: translate(2rem, -5rem);
        opacity:0;
        visibility: hidden;
    }

    .default__radio {
        display: none;
    }

    &__radio-label {
        width: 49%;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;
        padding-left: 5rem;

        @include breakpoint(tab-land) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio {
        position: absolute;
        left: 0;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: inline-block;
        border: .5rem solid $color-green-primary;
        
        &::after {
            content: "";
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $color-green-primary;
            opacity: 0;
        }
    }

    .default__radio:checked + &__radio-label &__radio::after {
        opacity: 1;
    }
}