//*colors
$color-green-light: #7ed56f;
$color-green-primary: #55c57a;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;

//*grid
$grid-padding: 2rem;
$grid-width: 115rem;
$grid-vg: 6rem;
$grid-hg: 6rem;

//*font 
$default-font-size: 1.6rem;